<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacOS_Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS_Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>373EEAEE150D574800493CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377E29B014E75E2700FF0388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377E29D414E75E2700FF0388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57060E18150E7BC6000D9709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
